<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 0.5px solid grey;">
	<a class="navbar-brand " href="#" style="color: rgb(0, 128, 255); font-weight: bold; font-style: italic;">
		<img th:src="@{/img/logo.png}" style="height: 40px; width: 40px;" />
		9Sound
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Dropdown
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Disabled</a>
			</li>
		</ul>

		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Tìm kiếm</button>
		</form>


		<button class="btn btn-primary" data-toggle="modal" data-target="#loginModal"
			style="margin-right: 20px; margin-left: 20px;">Đăng nhập</button>


		<button class="btn btn-outline-primary my-2 my-sm-0" style="margin-right: 20px;">Đăng ký</button>
	</div>
</nav>