<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tài khoản</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" th:href="@{apple-icon.png}">
    <link rel="shortcut icon" th:href="@{favicon.ico}">


    <link rel="stylesheet" type="text/css" th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/themify-icons/css/themify-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/selectFX/css/cs-skin-elastic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}">
	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    

  </script>
</head>

<body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default" th:insert="admin/common/menu">  
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header" th:insert="admin/common/topbar">
        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Quản lý tài khoản</h1>
                    </div>
                </div>
            </div>
       
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Danh sách tài khoản</strong>
                            </div>
                              <!-- Another variation with a button -->
							 
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                        	<th>STT</th>
                                            <th>Tên tài khoản</th>
                                            <th>Email</th>
                                            <th>Loại tài khoản</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="account, state: ${listAccounts}" >
                                            <td th:text="${state.index}+1"></td>
                                            <td th:text="${account.username}"></td>
                                            <td th:text="${account.email}"></td>
                                            <td th:if="${account.Vip}">Vip</td>
                                            <td th:unless="${account.Vip}">Thường</td>
                                            
                                            <td th:if="${account.status}">
                                            	<th:block th:if="${account.Vip}">
                                            	
                                            		<form th:action="@{/admin/account/vip}" method="POST" style="display:inline-block;">
														<input type="hidden" name="id" th:value="${account.id}">
														<button type="submit" class="btn btn-warning">Xóa Vip</button>
													</form>
		                                            <form th:action="@{/admin/account/block}" method="POST" style="display:inline-block;">
														<input type="hidden" name="id" th:value="${account.id}">
														<button type="submit" class="btn btn-danger">Khóa</button>
													</form>
												</th:block>
												<th:block th:unless="${account.Vip}">
													<form th:action="@{/admin/account/vip}" method="POST" style="display:inline-block;">
														<input type="hidden" name="id" th:value="${account.id}">
														<button type="submit" class="btn btn-warning">Nâng cấp Vip</button>
													</form>
													<form th:action="@{/admin/account/block}" method="POST" style="display:inline-block;">
														<input type="hidden" name="id" th:value="${account.id}">
														<button type="submit" class="btn btn-danger">Khóa</button>
													</form>
												</th:block>
											</td>
											<td th:unless="${account.status}">
												<form th:action="@{/admin/account/block}" method="POST" style="display:inline-block;">
													<input type="hidden" name="id" th:value="${account.id}">
													<button type="submit" class="btn btn-primary">Mở khóa</button>
												</form>
											</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
      
        </div><!-- .content -->
		

    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
	

    <script th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/vendors/jszip/dist/jszip.min.js}"></script>
    <script th:src="@{/vendors/pdfmake/build/pdfmake.min.js}"></script>
    <script th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>
    <script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-buttons/js/buttons.colVis.min.js}"></script>
    <script th:src="@{/assets/js/init-scripts/data-table/datatables-init.js}"></script>


</body>

</html>
