<!DOCTYPE html>
<html lang="vn">
	<head>
		<title></title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" th:href="@{/css/allsong.css}">
			<link th:href="@{/css/home.css}" rel="stylesheet" >
		<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
	    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
	    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	    
	    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script th:src="@{/js/paging/jquery.twbsPagination.js}" type="text/javascript"></script>
	</head>
	<body>
		<div th:insert="web/common/header"></div>
		<div class="body" style="padding-left: 120px; padding-right: 120px;" >
			
			<div class="row" id="content" >
				
				<div class="col-lg-9 p-5" >
					
					<!-- Thể loại -->

					<!-- Bài hát -->
					<div class="row" style="margin-top: 30px;margin-bottom: 30px;border-bottom:0.5px solid gray ;">
						<span style="font-size:26px;color:#21b685">Danh sách ca sĩ</span>
					</div>
					<div class="row" >
						<div class="col-d5 " th:each="singer:${listSingers}">
							<a th:href="@{/singer(id=${singer.id})}" style="cursor:pointer;"><img th:src="${singer.image}" style="width: 90%;height: 140px;display:block" /></a>
							<a th:href="@{/singer(id=${singer.id})}" th:text="${singer.name}"> </a>
						</div>
					</div>
					<!-- End Bài Hát -->
					<br/>
					<br/>
					<br/>
					<div class="row justify-content-center" style-"margin-top:40px">
						<ul class="pagination" id="pagination"></ul>
						<form th:action="@{/singer/all}" id="pageform" method="GET">
							 <input type="hidden" value="" id="page" name="page">
						</form>
					</div>
				</div>
				<div class="col-lg-3 pt-5"  >
					<a th:href="@{/song/all}" style="cursor: pointer;color: white;text-decoration: none">
						<div class="row" style="width: 100%;height: 150px;padding: 90px auto;margin-top: 20px;border-radius: 10px;
							background: linear-gradient(140deg, #EADEDB 2%, #BC70A4 50%, #BFD641 75%)">	
							<span style="margin: 45px auto;font-weight: bold;font-size:30px">Bài hát mới</span>
						</div>
					</a>
					<a th:href="@{/singer/all}" style="cursor: pointer;color: white;text-decoration: none">
						<div class="row" style="width: 100%;height: 150px;padding: 90px auto;margin-top: 20px;border-radius: 10px;
							background: linear-gradient(#e66465, #9198e5);">	
							<span style="margin: 45px auto;font-weight: bold;font-size:30px">Ca sĩ mới</span>
						</div>
					</a>
					<a th:href="@{/playlist/all}" style="cursor: pointer;color: white;text-decoration: none">
						<div class="row" style="width: 100%;height: 150px;padding: 90px auto;margin-top: 20px;border-radius: 10px;
							background: linear-gradient(45deg, red, blue);">	
							<span style="margin: 45px auto;font-weight: bold;font-size:30px">Playlist mới</span>
						</div>
					</a>
				</div>
				
			</div>
		</div>
		<div th:insert="web/common/footer"></div>
		<script>
			$( "#show-more" ).click(function() {
				$("#bxh").css("height","auto");
				$("#hidden").show();
				$("#show-more").hide();
			});
			$( "#hidden" ).click(function() {
				$("#bxh").css("height","400px");
				$("#hidden").hide();
				$("#show-more").show();
			});
		
		</script>
		<script>
			$( "#more-lyrics" ).click(function() {
				$("#lyrics").css("height","auto");
				$("#hidden-lyrics").show();
				$("#more-lyrics").hide();
			});
			$( "#hidden-lyrics" ).click(function() {
				$("#lyrics").css("height","300px");
				$("#hidden-lyrics").hide();
				$("#more-lyrics").show();
			});
		
		</script>
		
		<script type="text/javascript" th:inline="javascript">
			//Phân trang
			/*<![CDATA[*/
	
				var currentPage=/*[[${page}]]*/ null;
				var totalPage=/*[[${totalPage}]]*/ null;
			/*]]>*/
			 $(function () {

		        window.pagObj = $('#pagination').twbsPagination({
					startPage:currentPage,
		            totalPages: totalPage,
		            visiblePages: 5,
		            initiateStartPageClick: false,
		            onPageClick: function (event, page) {
						//alert(currentPage);
						$("#page").val(page);
		                $("#pageform").submit();
		            }
		        });
		    });
		    </script>
	</body>
</html>