<!DOCTYPE html>
<html lang="vn">
	<head>
		<title th:text=${song.name}></title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
		<link th:href="@{/css/home.css}" rel="stylesheet" >
		<link rel="stylesheet" type="text/css" th:href="@{/css/song.css}">
		<script type="text/javascript" th:src="@{/js/song.js}"></script> 
		<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<link th:href="@{/css/home.css}" rel="stylesheet" >
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
	    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
	    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	</head>
	<body>
		<div th:insert="web/common/header"></div>
		<div class="body" style="padding-left: 80px; padding-right: 60px;" >
			
			<div class="row" id="content" >
				
				<div class="col-lg-9 p-5" >
					<div class="row" style="width: 100%;padding: 0%">
					<div class="row" id="song-info" style="width:100% ;padding: 0px;">
						<div class="col-lg-7">
							<h3 class="text-white" th:text="${song.name}"> </h3>
						</div>
						<div class="col-lg-5" style="text-align: right;">
							<i class="fa fa-headphones" aria-hidden="true" style="font-size: 20px;font-weight: bold;color: white"></i>
							<span style="font-size: 20px ;">Lượt nghe: </span>
							<span style="font-size: 20px ;" th:text="${count}"> </span>
						</div>
					</div>


					<!-- Khung nhạc -->
					<div class="row" style="width: 100%;margin-left: 3px" >

						<audio controls="controls autoplay" class='podcast-audio hide' id="player">
							<source th:src="${song.playUrl}" type="audio/mpeg" />
						</audio>
						<div id="player-bar">
							<div class="row" style="width: 100%">

								<div class="col-lg-3">
									<img class="disk" th:src="${song.image}" width=100 heigth=100/> 
								</div>
								<div class="col-lg-9 " style="text-align: center; margin-top: 40px; color: rgb(0, 128, 255);font-size:24px ">
									<span th:text="${song.name}"></span>
									<br/>
									<span>Ca sĩ: </span><span th:text="${song.singerNames}"></span>
								</div>
							</div>

							<div id="audio-player">
								<div id="controls" >
									<i id="play" class="fa fa-play cursor-pointer"></i>
									<span id="time" class="time">00:00</span>
									<div id="progressbar" class='cursor-pointer ui-progressbar'></div>
									<span id="end-time" class="time">00:00</span>
									<i id="mute" class="fa fa-volume-up cursor-pointer"></i>
									<div id="volume" class='cursor-pointer ui-progressbar'></div>
									<i id="repeat" class="fa fa-repeat cursor-pointer" title="Lặp/Bỏ lặp"></i>
								</div>
							</div>
						</div>
					</div>
					<!-- End Khung nhạc -->

					
					<!-- Chức năng -->
					<div class="row" id="function" style="width: 100%;margin-top: 40px;">
						<div class="col-lg-6" tittle="Nâng cấp" >
							<a style="margin-left: 5px;" th:href="@{/payment}" sec:authorize="isAuthenticated()"  th:unless="${#request.userPrincipal.principal.vip}" >Bạn cần tài khoản vip để tải bài hát này</a>
						</div>
						<a th:href="@{/login}" sec:authorize="!isAuthenticated()"> <i class="fa fa-download" aria-hidden="true"></i> Tải xuống</a>
						<th:block sec:authorize="isAuthenticated()">
							<a th:href="${song.downloadUrl}"  th:unless="${song.copyRight}"> <i class="fa fa-download" aria-hidden="true"></i> Tải xuống</a>
							<th:block th:if="${song.copyRight}">
								<a th:href="${song.downloadUrl}"  th:if="${#request.userPrincipal.principal.vip}"> <i class="fa fa-download" aria-hidden="true"></i> Tải xuống</a>
								<a th:href="@{/payment}"  th:unless="${#request.userPrincipal.principal.vip}"> <i class="fa fa-download" aria-hidden="true"></i> Tải xuống</a>
							</th:block>
						</th:block>
						
						<a th:href="@{/song/favorite/delete(songid=${song.id})}" th:if="${favorite}"><i class="fa fa-heart" aria-hidden="true"></i> Bỏ thích</a>
						<a th:href="@{/song/favorite(songid=${song.id})}" th:unless="${favorite}"><i class="fa fa-heart" aria-hidden="true"></i> Yêu thích</a>
						<a><i class="fa fa-list" aria-hidden="true" title="Thêm vào playlist"></i> Thêm vào</a>
						<a><i class="fa fa-bell" aria-hidden="true"></i> Báo lỗi</a>
					
						
					</div>
					<!-- End Chức năng -->

					<!-- Lời bài hát-->
					<div id="lyric" style="width: 100%;border:1px solid lightgray;margin-top: 20px; padding:5%;">
						<div style="width: 100%;border-bottom:1px solid lightgray">
							<p style="font-weight: bold;font-size: 20px;">Lời bài hát:</p>
						</div>
						<div style="width: 100%;margin-top: 10px;height: 300px;overflow: hidden" id="lyrics">
							<p style="font-size: 16px">Lời bài hát:</p>
							<p style="font-size: 16px" th:utext="${song.lyrics}"></p>
						</div>
						<div style="margin-top: 10px">
							<a href="javascript::" style="text-decoration: none; color: rgb(0, 204, 255)" id="more-lyrics"> Xem thêm </a>
							<a href="javascript::" style="text-decoration: none; color: rgb(0, 204, 255);display:none;" id="hidden-lyrics">Ẩn bớt </a>
						</div>
					</div>
					<!-- End Lời bài hát-->
					<div style="width: 100%;border-top:0.5px solid lightgray;margin-top: 20px;padding-top: 25px;">
						<h4>Bình luận</h4>
					</div>
					<!--Comment-->
					<div id="lyric" style="width: 100%;  ">
						<form th:action="@{/song/comment(id=${song.id})}" method="POST" sec:authorize="isAuthenticated()">
							<div style="width: 100%;border-bottom:1px solid lightgray;padding-bottom: 10px;">
								<textarea maxlength="60" style="width:100%; height:130px;display:inline-block;background-color: #192536;color:white;padding:10px;resize: none;border-radius:10px ;" placeholder="Nhập bình luận" name="comment"></textarea>
								<br />
								<button type="submit" class="btn btn-primary">Bình luận</button>
								<br />
							</div>

						</form>
						<br />
						<div style="width: 100%;margin-top: 10px;height: 100px;position:relative" th:each="comment:${listComments}">
							<div style="width:100px;height: 100px;display:inline-block;position:relative">
								<img th:src="@{/images/user.png}" style="width: 99%;height: 99%;position:absolute"/>
							</div>
							<div style="width:700px;height: 100px;display:inline-block;padding: 15px;position: absolute;">
								<p style="font-weight: bold;color:rgb(0, 204, 255)" th:text="${comment.account.username}"></p>
								<p th:text="${comment.content}"></p>
							</div>
						</div>
						
					</div>
					
					<!--Thể loại-->
					<div class="row" style="margin-top:30px;margin-left: 2px;width: 100%;">
						<span style="font-size: 25px;color: #ff4d88 ">Thể loại | </span>
						<span>
							<a th:href="@{/song/category(id=${category.id})}"  th:text="${category.name}" style="font-size: 25px; color:#ff4d88;text-decoration: none;cursor:pointer"></a>
						</span>&nbsp;
						<span style="font-size: 25px;color: #ff4d88 "> > </span>
					</div>
					<div class="row" style="margin-left: 2px;margin-top: 5px;width: 100%; "   >
						<div class="col-d5" th:each="s:${category.listSongs}">
							<a th:href="@{/song(id=${s.id})}" style="cursor:pointer"><img th:src="${s.image}" style="width: 90%;height: 75%; display:block" /></a>
							<a th:href="@{/song(id=${s.id})}" th:text="${s.name}"> </a>
							<p></p>
						</div>
					</div>
					
					<!-- End Thể loại-->
					
					<!--Ca sĩ-->
					<th:block th:each="singer:${listSingers}">
					<div class="row" style="margin-top:30px;margin-left: 2px;width: 100%;">
						<span style="font-size: 25px;color: #ff4d88 ">Ca sĩ | </span>
						<span>
							<a th:href="@{/singer(id=${singer.id})}" th:text="${singer.name}" style="font-size: 25px; color:#ff4d88;text-decoration: none;cursor:pointer"></a>
						</span>&nbsp;
						<span style="font-size: 25px;color: #ff4d88 "> > </span>
					</div>
					<div class="row" style="margin-left: 2px;width: 100%;">
						<div class="col-d5 " th:each="ss:${singer.listSingSong}">
							<a th:href="@{/song(id=${ss.song.id})}" style="cursor:pointer"><img th:src="${ss.song.image}" style="width: 90%;height: 75%; display:block" /></a>
							<a th:href="@{/song(id=${ss.song.id})}" th:text="${ss.song.name}" > </a>
							<p></p>
						</div>
					</div>
					<th:block>
					
					<!--End Ca sĩ-->
					
					<!--Nhạc sĩ-->
					<div class="row" style="margin-top:30px;margin-left: 2px;width: 100%;">
						<span style="font-size: 25px;color: #ff4d88 ">Nhạc sĩ |  </span>
						<span>
							<a th:href="@{/musician(id=${musician.id})}"  th:text="${musician.name}" style="font-size: 25px; color:#ff4d88;text-decoration: none;cursor:pointer"></a>
						</span>&nbsp;
						<span style="font-size: 25px;color: #ff4d88 "> > </span>
					</div>
					<div class="row" style="margin-left: 2px;margin-top: 5px;width: 100%;"  >
						<div class="col-d5" th:each="s:${musician.listSong}">
							<a th:href="@{/song(id=${s.id})}" style="cursor:pointer"><img th:src="${s.image}" style="width: 90%;height: 75%; display:block" /></a>
							<a th:href="@{/song(id=${s.id})}" th:text="${s.name}"> </a>
							<p></p>
						</div>
					</div>
					<!--End Nhạc sĩ-->
					
					</div>
					
				</div>
				<div class="col-lg-3 pt-5"  >
					<div class="row justify-content-center align-text-bottom ">
						<h3 class="text-whiter" style="font-weight: bold">Có thể bạn sẽ thích</h3>
					</div>
					<div class="row" id="bxh" style="height: 400px;overflow: hidden;">
						<th:block th:each="song:${recommendSong}">
						<div class="col-lg-4" style="border-top: 1px solid gray; height:100px; padding-top: 10px;padding-left: 0px !important;" >
							<img th:src="${song.image}" style="width: 80px;height: 80px" />
						</div>
						<div class="col-lg-8" style="border-top: 1px solid gray; height:100px; padding-top: 20px;padding-left: 0px !important;">
							<a th:href="@{/song(id=${song.id})}"  class="text-left" style="font-size: 20px" th:text="${song.name}"></a>
							<p style="color: grey;font-size: 10px" th:text=${song.singerNames}></p>
						</div>
						</th:block>
					
					</div>
					<div class="row justify-content-center" id="show-more">
						<button class="btn btn-primary" style="border-radius: 8px;margin-top: 10px">Xem thêm</button>
					</div>
					<div class="row justify-content-center" id="hidden" style="display: none;">
						<button class="btn btn-primary" style="border-radius: 8px;margin-top: 10px">Ẩn bớt</button>
					</div>
				</div>
				
			</div>
		</div>
		<div th:insert="web/common/footer"></div>
		<script>
			$( "#show-more" ).click(function() {
				$("#bxh").css("height","auto");
				$("#hidden").show();
				$("#show-more").hide();
			});
			$( "#hidden" ).click(function() {
				$("#bxh").css("height","400px");
				$("#hidden").hide();
				$("#show-more").show();
			});
		
		</script>
		<script>
			$( "#more-lyrics" ).click(function() {
				$("#lyrics").css("height","auto");
				$("#hidden-lyrics").show();
				$("#more-lyrics").hide();
			});
			$( "#hidden-lyrics" ).click(function() {
				$("#lyrics").css("height","300px");
				$("#hidden-lyrics").hide();
				$("#more-lyrics").show();
			});
		
		</script>
	</body>
</html>