body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #192536;
	color:white;
}
.col-d5{
  width: 20%;
  position: relative;
}

.col-d5 .image{
	border-radius: 4px;
	width: 90%;
	height:140px; 
	display:block
}
.wrap_background{
	display: none;
	background-color: black;
	position: absolute;
	top: 0px;
	width: 90%;
	height:140px; 
	opacity: 0.7;
}
.col-d5 .icon_play{
	display: none;
	position: absolute;
	top: 0px;
	left: 86px;
	z-index: 2;
	width: 40px;
    height: 40px;
    top: 50px;
    left: 52px;
}
.col-d5:hover{
	cursor: pointer;

}
.col-d5:hover .wrap_background{
	display: block;
	transition: 1000ms;
}
.col-d5:hover .icon_play{
	display: block;
	transition: 2000ms;
	cursor: pointer;
}


.top_bar{
	position: relative;
}
.top_bar:hover{
	cursor: pointer;
}

.top_bar .top_background{
	display: none;
	background-color: black;
	position: absolute;
	top: 10px;
	width: 80px;
	height:80px; 
	opacity: 0.7;
}

.top_bar .play_top{
	
	display: none;
	position: absolute;
	top: 0px;
	left: 86px;
	z-index: 2;
	width: 20px;
    height: 20px;
    top: 30px;
    left: 30px;
    
}
.top_bar a{
	
 	position: absolute;
	width: 80px;
    height: 80px;
   	top:10px;
	left:0px
}

.top_bar:hover .top_background{
	display: block;
	transition: 1000ms;
}

.top_bar:hover .play_top{
	display: block;
	transition: 2000ms;
	cursor: pointer;
}


button{
/*	background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
   */
}
button:hover{
/*	background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
    */

    color:black;
}

.navbar li a{
	color:white !important;
}
.navbar li a:hover{
	color:#21b685 !important;
	transition:400ms;
}

a{
	color:white;
	text-decoration: none !important;
}

a:hover{
	color:#21b685 !important;
	cursor:pointer
}

button:hover{
	cursor:pointer;
}

input[type="radio"]{
	transform: scale(1.5);
}
input[type="radio"]:hover{
	cursor: pointer;
}



