.cursor-pointer {
    cursor: pointer;
}
#player {
    display: none;
}

#player-bar{
	position: relative;
	height: 170px;
	width: 100%;
	background-color: black;

}
.fa:hover{
	color: white !important;
}
#audio-player {
    height: 50px;
    width: 100%;
    background-color: #2b2b2b;
    display: inline-flex;
    color: white;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
    position: absolute;
    bottom: 0px;
}
#audio-player .download-option-popup {
    display: none;
    position: absolute;
    text-align: center;
    right: -15px;
    top: -38px;
    box-shadow: 0px 0px 5px #828282;
    background-color: #f7f7f7;
    color: #484848;
    padding: 5px 20px;
}
#audio-player .download-option-popup .btn-download-label, #audio-player .download-option-popup i.fa-download {
    display: inline-block;
    vertical-align: sub;
}
#audio-player #controls {
    height: 50px;
    background-color: black;
    width: 100%;
    display: flex;
    align-items:center ;
    position: absolute;
    justify-content: left;
   /*  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
    background-repeat: repeat-x; */
 
}
#audio-player #controls i.fa-ellipsis-v {
    color: black;
}
#audio-player #controls .time {
    font-size: 10px;
    color: white !important;
    margin: 5px;
}
#audio-player #controls .ui-progressbar {
    background: #2b2b2b;
}
#audio-player #controls .ui-progressbar-value {
    background: rgb(0, 128, 255);
    width: 27px;
    height: 10px;
    border-radius: 0;
}
#audio-player #controls #progressbar, #audio-player #controls #volume {
    height: 10px;
    display: inline-block;
    border-radius: 0px;
    border: none;

}
#audio-player #controls #progressbar {
    width: 75%;
    height: 5px;
}
#audio-player #controls #play, #audio-player #controls #mute {
    font-size: 16px;
    width: 20px;
    color: white !important;
}
#audio-player #controls #play, #audio-player #controls #mute, #audio-player #controls #start-time, #audio-player #controls #time, #audio-player #controls #end-time {
    color: #353535;
}
#audio-player #controls #play {
    margin-left: 15px;
}
#audio-player #controls #volume {
    width: 50px;
    margin-right: -5px;
    margin-left: 5px;
    height: 5px;
}
#audio-player #controls .download-link {
    margin: 0 15px;
}

#repeat{
	color: darkgray;
	margin-left: 10px;
}

.disk {
  animation: app-logo-spin infinite 5s linear;
  position: absolute;

  margin-top: 20px;
  margin-left: 20px;

}

#function{

}

#function a{
	width:100px;
	height: 40px;
	text-decoration: none;
	

}
#function  a:hover{
	cursor: pointer;
	color: #ff4d88!important;
}	


/* @keyframes app-logo-spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
} */

.col-d5{
  width: 20%;
}
button{
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}
