*{
	margin:0px;

	padding: 0px;

}

.main{
	position: relavite;
	height: 9999px;
	margin-left: 6%;
	margin-right: 6%;
	padding-top: 60px;
	background-color: white;
}

/*style for player*/
.player{
	height: 50%;
	width: 50%;
	display: inline-block;
	margin-left: 2%;
	position: absolute;

}
.bg-player{
	height:200px;
	width: 99%;
	background-image: url('../img/bg-player.jpg');

	background-attachment: fixed;

	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
#audio{
	width: 99%;
	border: 1px solid dimgrey;
	outline: none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.logo {
	margin-top:25px;
	margin-left: 25px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 0.2px solid white;
	animation: app-logo-spin infinite 5s linear
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}


/* Style buttons */
.download-btn {
  background-color: rgb(0, 128, 192);

  border: none;
  color: white;
  padding: 12px 12px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 40px;
  margin-left: 80%;
  border-radius: 10px;
  outline: none;
}

/* Darker background on mouse-over */
.download-btn:hover {
  background-color: RoyalBlue;
  border: none;
}

/*side bar*/

.side-bar{
	position: absolute;
	height: 600px;
	width: 30%;
	/*border: 1px solid black;*/
	
	margin-right: 2%;
	right:6%;


	overflow: auto;
}



.top-music{
	margin-top: 20px;
	width: 99%;
	height: 100px;
	padding-left: 0%;
	border-bottom:0.5px solid rgb(128, 128, 128);
	border-top:0.5px solid rgb(128, 128, 128);
}

.top-logo{
	height: 90%;
	width: 25%;
	vertical-align: middle;
	display: inline-block;
	border-radius: 0px;
}
/*Lyrics*/

.lyrics{
	border: 0.1px solid rgb(192, 192, 192);
	font-family: 'Times New Roman', Times, serif;

	width: 98%;
	text-align: left;
	overflow: auto;
	clear: both;
	padding: 10px;
}


