<!DOCTYPE html>
<html lang="vn">
	<head>
		<title>Danh sách yêu thích</title>
		<meta charset="utf-8" />
		<link rel="icon" th:href="@{/img/favicon.png}"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" th:href="@{/css/allsong.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/popup.css}">
		<link th:href="@{/css/home.css}" rel="stylesheet" >
		<link th:href="@{/css/myaccount.css}" rel="stylesheet" >
		<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<link th:href="@{/css/scroll.css}" rel="stylesheet" >
	    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
	    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	    <link rel="stylesheet" type="text/css" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
		<link th:href="@{/css/info.css}" rel="stylesheet" >
		<script th:src="@{/ckeditor/ckeditor.js}"></script>
	</head>
	<body>
		<div th:insert="web/common/header"></div>
		<div class="body" style="padding-left: 180px; padding-right: 100px; background-color: #192536;color: white;position:relative" >

			<div class="row" id="content" >
				<div class="col-lg-4 pt-5"  style="background-color: #21324a;margin-top: 60px;height: 700px;padding: 30px;border-radius: 5px;" >
					
					<div class="row" style="font-size:20px;padding-top: 10px;padding-bottom: 10px;margin-left: 10px">
						<a th:href="@{/myaccount/info}" style="color: white;text-decoration: none;font-size: 18px;"><i class="fa fa-user" aria-hidden="true"></i></i>&ensp;Thông tin cá nhân</a>
					</div>
					<div class="row" style="font-size:20px;padding-top: 10px;padding-bottom: 10px;margin-left: 10px">
						
						<a th:href="@{/myaccount/playlist}" style="color: white;text-decoration: none;font-size: 18px;"><i class="fa fa-list" aria-hidden="true" title="Thêm vào playlist"></i>&ensp;Playlist của tôi</a>
					</div>
					<div class="row" style="font-size:20px;padding-top: 10px;padding-bottom: 10px;margin-left: 10px">
						<a th:href="@{/myaccount/history}" style="color: white;text-decoration: none;font-size: 18px;"><i class="fa fa-history" aria-hidden="true"></i>&ensp;Bài hát đã nghe</a>
					</div>
					<div class="row" style="font-size:20px;padding-top: 10px;padding-bottom: 10px;margin-left: 10px">
						<a th:href="@{/myaccount/favorite}" style="color: white;text-decoration: none;font-size: 18px;"><i class="fa fa-heart" aria-hidden="true"></i>&ensp;Bài hát đã thích</a>
					</div>
					<div class="row" style="font-size:20px;padding-top: 10px;padding-bottom: 10px;margin-left: 10px">
						<a th:href="@{/logout}" style="color: white;text-decoration: none;font-size: 18px;"><i class="fa fa-sign-out" aria-hidden="true"></i>&ensp;Đăng xuất</a>
					</div>
				</div>
				<div class="col-lg-7 scroll" style="background-color: #21324a;margin-top: 60px;height: 700px;border-radius: 5px; margin-left: 20px;" >
					
				
					<form th:action="@{/myaccount/info/edit}" method="POST">
						<div class="row info" >
							<div class="form-group">
	                              <label class=" form-control-label">Thông tin cá nhân</label>
		                           <textarea style="height: 297mm; width:210mm" class="form-control"
											id="description" name="info" placeholder="thông tin" 
											th:text="${info}"
											required></textarea>
							</div>
						</div>
						
						<div class="row edit" >
							<button class="btn btn-warning" type="submit"> Thay đổi</button>
						</div>
					
					</form>
				</div>
				
				
			</div>
			
			
		</div>
		
		
		  
	
		
		
		<div th:insert="web/common/footer"></div>
		<script>
			CKEDITOR.replace('description', {
				height: 300,
				width: 620
			});
		</script>
		<script>
			var editor = "";
			$(document).ready(function () {
				editor = CKEDITOR.replace("description");
	
			});
		</script>

	</body>
</html>