<!DOCTYPE html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link th:href="@{dist/calamansi.min.css}" rel="stylesheet" />
	<script th:src="@{dist/calamansi.min.js}"></script>
	
</head>
<body>
    <div style="width: 900px; height: 400px;">
	    <div id="calamansi-player-1">
	        Loading player...
	    </div>
	</div>
    <script>
    	new Calamansi(document.querySelector('#calamansi-player-1'), {
        skin: '/dist/skins/calamansi',
        playlists: {
            'Classics': [
                {
                    source: 'http://docs.google.com/uc?export=open&id=1ygGZM4i8FVyIa-vL8Fh4uXt1TdR-KEl1',
                    
                },
                {
                    source: 'http://docs.google.com/uc?export=open&id=1ygGZM4i8FVyIa-vL8Fh4uXt1TdR-KEl1',
                },
            ],
        },
        loop: true,
	
	    // shuffle playlist or not
	    shuffle: true,
	
	    // 0-100
	    volume: 100,
	
	    // preload track info or not
	    preloadTrackInfo: false,
	
	    // load track info on play or not
	    loadTrackInfoOnPlay: true,
        defaultAlbumCover: '/dist/skins/default-album-cover.png',
            // infinite loop or not
	    

    });
	</script>
</body>
</html>
