<!DOCTYPE html>
<html lang="vn">
	<head>
		<title></title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
		<link th:href="@{/css/home.css}" rel="stylesheet" >
		<link rel="stylesheet" type="text/css" th:href="@{/css/song.css}">
		<script type="text/javascript" th:src="@{/js/song.js}"></script> 
		<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
			<link th:href="@{/css/home.css}" rel="stylesheet" >
		 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
	    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
	    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
		<link th:href="@{/css/playlist.css}" rel="stylesheet" >
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	</head>
	<body>
			<div th:insert="web/common/header"></div>
		<div class="body" style="padding-left: 80px; padding-right: 60px;" >
			
			<div class="row" id="content" >
				
				<div class="col-lg-9 p-5" >
					<div class="row" style="width: 100%;padding: 0%">
					<div class="row" id="song-info" style="width:100% ;padding: 0px;">
						<div class="col-lg-9">
							<span class="text-white" style="font-size: 20px" th:text="${playlist.name}">  </span>
						</div>
					</div>


					<!-- Khung nhạc -->
					<div class="row" style="width: 100%;margin-left: 3px;margin-top: 15px" >
						 <embed src="http://deinesv.cf/silence.mp3" type="audio/mp3"  hidden="true" allow="autoplay">

						<audio controls="controls autoplay" class='podcast-audio hide' id="player">
							<source th:src="${playingSong.playUrl}" type="audio/mpeg" />
						</audio>
						<div id="player-bar">
							<div class="row" style="width: 100%">

								<div class="col-lg-3">
									<img class="disk" th:src="${playingSong.image}" width=100 heigth=100/> 
								</div>
								<div class="col-lg-9 " style="text-align: center; margin-top: 40px; color: rgb(0, 128, 255);font-size:24px ">
									<span th:text="${playingSong.name}"></span>
									<br/>
									<span>Ca sĩ: </span><span th:text="${playingSong.singerNames}"></span>
								</div>
							</div>

							<div id="audio-player">
								<div id="controls" >
									<i id="play" class="fa fa-play cursor-pointer"></i>
									<span id="time" class="time">00:00</span>
									<div id="progressbar" class='cursor-pointer ui-progressbar'></div>
									<span id="end-time" class="time">00:00</span>
									<i id="mute" class="fa fa-volume-up cursor-pointer"></i>
									<div id="volume" class='cursor-pointer ui-progressbar'></div>
									<i id="repeat" class="fa fa-repeat cursor-pointer" title="Lặp/Bỏ lặp"></i>
								</div>
							</div>
						</div>
					</div>
					<!-- End Khung nhạc -->

					<div class="row" id="playlist" >
						<div class="col-lg-12" style="padding: 0px !important">
						<div claas="row" th:each="song,state:${listSongs}" style="width: 99%; height: 40px;border-bottom: 0.5px solid lightgray;padding-top: 10px;" >
							<div style="display: inline-block;width: 90%;height:40px">
								<span th:if="${song.id}==${playingSong.id}" style="width: 16px;margin-left: 5px;margin-right: 5px;"><img th:src="@{/img/wave.png}" style="width: 14px;height: 18px;"/></span>
								<span th:unless="${song.id}==${playingSong.id}" style="width: 16px;margin-left: 10px;margin-right: 10px" th:text="${state.index}+1"></span><span>. </span>
								
								<a th:href="@{/playlist(playid=${playlist.id},songid=${song.id})}"><span style="margin-left: 5px;margin-right: 5px" th:text="${song.name}"></span></a>
								<span style="font-size: 11px;color: gray" th:text="${song.singerNames}"></span>
								
							</div>
							<div style="display: inline-block;width: 8%;">
								<a class="icon-play" th:href="${song.downloadUrl}"> <i class="fa fa-download " aria-hidden="true"></i></a>
								<a class="icon-play" href="#"><i class="fa fa-bell icon" aria-hidden="true"></i> </a>
							</div>
						</div>
						</div>
					</div>


					<!-- Lời bài hát-->
					<div id="lyric" style="width: 100%;border:1px solid lightgray;margin-top: 20px; padding:5%;">
						<div style="width: 100%;border-bottom:1px solid lightgray">
							<p style="font-weight: bold;font-size: 20px;">Lời bài hát:</p>
						</div>
						<div style="width: 100%;margin-top: 10px;height: 300px;overflow: hidden" id="lyrics">
							<p style="font-size: 16px">Lời bài hát:</p>
							<p style="font-size: 16px" th:utext="${playingSong.lyrics}" > 
							</p>
						</div>
						<div style="margin-top: 10px">
							<a href="javascript::" style="text-decoration: none; color: rgb(0, 204, 255)" id="more-lyrics"> Xem thêm </a>
							<a href="javascript::" style="text-decoration: none; color: rgb(0, 204, 255);display:none;" id="hidden-lyrics">Ẩn bớt </a>
						</div>
					</div>
					<!-- End Lời bài hát-->
					</div>
				</div>
				<div class="col-lg-3 pt-5"  >
					<div class="row justify-content-center align-text-bottom ">
						<h4 class="text-danger" style="font-weight: bold">PLAYLIST MỚI NHẤT</h4>
					</div>
					<div class="row" id="bxh" style="height: 400px;overflow: hidden;">
						<div class="col-lg-4" style="border-top: 1px solid gray; height:100px; padding-top: 10px">
							<img src="https://data.chiasenhac.com/data/cover/146/145781.jpg" style="width: 100%;height: 90%" />
						</div>
						<div class="col-lg-8" style="border-top: 1px solid gray; height:100px; padding-top: 20px">
							<a href="https://chiasenhac.vn/nhac-hot/vietnam.html?playlist=4"  class="text-left" style="font-size: 16px">Người lạ thoáng qua</a>
						</div>
						<div class="col-lg-4" style="border-top: 1px solid gray; height:100px; padding-top: 10px">
							<img src="https://data.chiasenhac.com/data/cover/146/145781.jpg" style="width: 100%;height: 90%" />
						</div>
						<div class="col-lg-8" style="border-top: 1px solid gray; height:100px; padding-top: 20px">
							<a href="https://chiasenhac.vn/nhac-hot/vietnam.html?playlist=4"  class="text-left" style="font-size: 16px">Người lạ thoáng qua</a>
						</div><div class="col-lg-4" style="border-top: 1px solid gray; height:100px; padding-top: 10px">
							<img src="https://data.chiasenhac.com/data/cover/146/145781.jpg" style="width: 100%;height: 90%" />
						</div>
						<div class="col-lg-8" style="border-top: 1px solid gray; height:100px; padding-top: 20px">
							<a href="https://chiasenhac.vn/nhac-hot/vietnam.html?playlist=4"  class="text-left" style="font-size: 16px">Người lạ thoáng qua</a>
						</div><div class="col-lg-4" style="border-top: 1px solid gray; height:100px; padding-top: 10px">
							<img src="https://data.chiasenhac.com/data/cover/146/145781.jpg" style="width: 100%;height: 90%" />
						</div>
						<div class="col-lg-8" style="border-top: 1px solid gray; height:100px; padding-top: 20px">
							<a href="https://chiasenhac.vn/nhac-hot/vietnam.html?playlist=4"  class="text-left" style="font-size: 16px">Người lạ thoáng qua</a>
						</div><div class="col-lg-4" style="border-top: 1px solid gray; height:100px; padding-top: 10px">
							<img src="https://data.chiasenhac.com/data/cover/146/145781.jpg" style="width: 100%;height: 90%" />
						</div>
						<div class="col-lg-8" style="border-top: 1px solid gray; height:100px; padding-top: 20px">
							<a href="https://chiasenhac.vn/nhac-hot/vietnam.html?playlist=4"  class="text-left" style="font-size: 16px">Người lạ thoáng qua</a>
						</div><div class="col-lg-4" style="border-top: 1px solid gray; height:100px; padding-top: 10px">
							<img src="https://data.chiasenhac.com/data/cover/146/145781.jpg" style="width: 100%;height: 90%" />
						</div>
						<div class="col-lg-8" style="border-top: 1px solid gray; height:100px; padding-top: 20px">
							<a href="https://chiasenhac.vn/nhac-hot/vietnam.html?playlist=4"  class="text-left" style="font-size: 16px">Người lạ thoáng qua</a>
						</div><div class="col-lg-4" style="border-top: 1px solid gray; height:100px; padding-top: 10px">
							<img src="https://data.chiasenhac.com/data/cover/146/145781.jpg" style="width: 100%;height: 90%" />
						</div>
						<div class="col-lg-8" style="border-top: 1px solid gray; height:100px; padding-top: 20px">
							<a href="https://chiasenhac.vn/nhac-hot/vietnam.html?playlist=4"  class="text-left" style="font-size: 16px">Người lạ thoáng qua</a>
						</div><div class="col-lg-4" style="border-top: 1px solid gray; height:100px; padding-top: 10px">
							<img src="https://data.chiasenhac.com/data/cover/146/145781.jpg" style="width: 100%;height: 90%" />
						</div>
						<div class="col-lg-8" style="border-top: 1px solid gray; height:100px; padding-top: 20px">
							<a href="https://chiasenhac.vn/nhac-hot/vietnam.html?playlist=4"  class="text-left" style="font-size: 16px">Người lạ thoáng qua</a>
						</div><div class="col-lg-4" style="border-top: 1px solid gray; height:100px; padding-top: 10px">
							<img src="https://data.chiasenhac.com/data/cover/146/145781.jpg" style="width: 100%;height: 90%" />
						</div>
						<div class="col-lg-8" style="border-top: 1px solid gray; height:100px; padding-top: 20px">
							<a href="https://chiasenhac.vn/nhac-hot/vietnam.html?playlist=4"  class="text-left" style="font-size: 16px">Người lạ thoáng qua</a>
						</div>
					</div>
					<div class="row justify-content-center" id="show-more">
						<button class="btn btn-primary" style="border-radius: 8px;margin-top: 10px">Xem thêm</button>
					</div>
					<div class="row justify-content-center" id="hidden" style="display: none;">
						<button class="btn btn-primary" style="border-radius: 8px;margin-top: 10px">Ẩn bớt</button>
					</div>
				</div>
				
			</div>
		</div>
	 		<div th:insert="web/common/footer"></div>
		<script>
			$( "#show-more" ).click(function() {
				$("#bxh").css("height","auto");
				$("#hidden").show();
				$("#show-more").hide();
			});
			$( "#hidden" ).click(function() {
				$("#bxh").css("height","400px");
				$("#hidden").hide();
				$("#show-more").show();
			});
		
		</script>
		<script>
			$( "#more-lyrics" ).click(function() {
				$("#lyrics").css("height","auto");
				$("#hidden-lyrics").show();
				$("#more-lyrics").hide();
			});
			$( "#hidden-lyrics" ).click(function() {
				$("#lyrics").css("height","300px");
				$("#hidden-lyrics").hide();
				$("#more-lyrics").show();
			});
		
		</script>
		<script>
			var aud = document.getElementById("player");
			aud.onended = function() {
			  var ok=document.getElementsByClassName("song");
			  console.log(ok);
			};
		</script>
	</body>
</html>