<!DOCTYPE html>
<html lang="vn">
	<head>
		<title></title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
		<link th:href="@{/css/home.css}" rel="stylesheet" >
		<link rel="stylesheet" type="text/css" th:href="@{/css/song.css}">
		<script type="text/javascript" th:src="@{/js/song.js}"></script> 
		<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
			<link th:href="@{/css/home.css}" rel="stylesheet" >
		 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
	    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
	    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
		<link th:href="@{/css/playlist.css}" rel="stylesheet" >
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	</head>
	<body>
			<div th:insert="web/common/header"></div>
		<div class="body" style="padding-left: 80px; padding-right: 60px;" >
			
			<div class="row" id="content" >
				
				<div class="col-lg-9 p-5" >
					<div class="row" style="width: 100%;padding: 0%">
					<div class="row" id="song-info" style="width:100% ;padding-left: 5px;">
						<div class="col-lg-9" >
							<span class="text-white" style="font-size: 20px" th:text="${playlist.name}">  </span>
						</div>
				
						<div class="col-lg-3" style="padding-left: 70px;">
							<button class="btn" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: #21b685;color:white">Thêm vào playlist</button>
						</div>
						
					</div>


					<!-- Khung nhạc -->
					<div class="row" style="width: 100%;margin-left: 3px;margin-top: 15px" >
						 <embed src="http://deinesv.cf/silence.mp3" type="audio/mp3"  hidden="true" allow="autoplay">

						<audio controls="controls autoplay" class='podcast-audio hide' id="player">
							<source th:src="${playingSong.playUrl}" type="audio/mpeg" />
						</audio>
						<div id="player-bar">
							<div class="row" style="width: 100%">

								<div class="col-lg-3">
									<img class="disk" th:src="${playingSong.image}" width=100 heigth=100/> 
								</div>
								<div class="col-lg-9 " style="text-align: center; margin-top: 40px; color: rgb(0, 128, 255);font-size:24px ">
									<span th:text="${playingSong.name}"></span>
									<br/>
									<span>Ca sĩ: </span><span th:text="${playingSong.singerNames}"></span>
								</div>
							</div>

							<div id="audio-player">
								<div id="controls" >
									<i id="play" class="fa fa-play cursor-pointer"></i>
									<span id="time" class="time">00:00</span>
									<div id="progressbar" class='cursor-pointer ui-progressbar'></div>
									<span id="end-time" class="time">00:00</span>
									<i id="mute" class="fa fa-volume-up cursor-pointer"></i>
									<div id="volume" class='cursor-pointer ui-progressbar'></div>
									<i id="repeat" class="fa fa-repeat cursor-pointer" title="Lặp/Bỏ lặp"></i>
								</div>
							</div>
						</div>
					</div>
					<!-- End Khung nhạc -->

					<div class="row" id="playlist" >
						<div class="col-lg-12" style="padding: 0px !important">
						<div claas="row" th:each="song,state:${listSongs}" style="width: 99%; height: 40px;border-bottom: 0.5px solid lightgray;padding-top: 10px;" >
							<div style="display: inline-block;width: 95%;height:40px">
								<span th:if="${song.id}==${playingSong.id}" style="width: 16px;margin-left: 5px;margin-right: 5px;"><img th:src="@{/images/play.gif}" style="width: 14px;height: 18px;"/></span>
								<span th:unless="${song.id}==${playingSong.id}" style="width: 16px;margin-left: 10px;margin-right: 10px" th:text="${state.index}+1"></span><span>. </span>
								
								<a th:href="@{/playlist(playid=${playlist.id},songid=${song.id})}"><span style="margin-left: 5px;margin-right: 5px" th:text="${song.name}"></span></a>
								<span style="font-size: 11px;color: gray" th:text="${song.singerNames}"></span>
								
							</div>
							<div style="display: inline-block;width: 4%;">
								<a th:href="${song.downloadUrl}"  th:unless="${song.copyRight}"> <i class="fa fa-download" aria-hidden="true"></i> </a>
								<th:block th:if="${song.copyRight}">
									<a th:href="${song.downloadUrl}"  th:if="${#request.userPrincipal.principal.vip}"> <i class="fa fa-download" aria-hidden="true"></i> </a>
									<a data-toggle="modal" data-target="#upgrade"  th:unless="${#request.userPrincipal.principal.vip}"> <i class="fa fa-download" aria-hidden="true"></i> </a>
								</th:block>
								
							</div>
						</div>
						</div>
					</div>


					<!-- Lời bài hát-->
					<div id="lyric" style="width: 100%;border:1px solid lightgray;margin-top: 20px; padding:5%;">
						<div style="width: 100%;border-bottom:1px solid lightgray">
							<p style="font-weight: bold;font-size: 20px;">Lời bài hát:</p>
						</div>
						<div style="width: 100%;margin-top: 10px;height: 300px;overflow: hidden" id="lyrics">
							<p style="font-size: 16px">Lời bài hát:</p>
							<p style="font-size: 16px" th:utext="${playingSong.lyrics}" > 
							</p>
						</div>
						<div style="margin-top: 10px">
							<a href="javascript::" style="text-decoration: none; color: rgb(0, 204, 255)" id="more-lyrics"> Xem thêm </a>
							<a href="javascript::" style="text-decoration: none; color: rgb(0, 204, 255);display:none;" id="hidden-lyrics">Ẩn bớt </a>
						</div>
					</div>
					<!-- End Lời bài hát-->
					</div>
				</div>
				<div class="col-lg-3 pt-5"  sec:authorize="hasRole('ROLE_USER')">
					<div class="row justify-content-center align-text-bottom ">
						<h3 class="text-whiter" style="font-weight: bold">Có thể bạn sẽ thích</h3>
					</div>
					<div class="row" id="bxh" style="height: 400px;overflow: hidden;">
						<div class="col-lg-12">
							<div class="row" th:each="song:${recommendSong}">
								<div class="col-lg-4" style="border-top: 1px solid gray; height:100px; padding-top: 10px;padding-left: 0px !important;" >
									<img th:src="${song.image}" style="width: 80px;height: 80px" />
								</div>
								<div class="col-lg-8" style="border-top: 1px solid gray; height:100px; padding-top: 20px;padding-left: 0px !important;">
									<a th:href="@{/song(id=${song.id})}"  class="text-left" style="font-size: 20px" th:text="${song.name}"></a>
									<p style="color: grey;font-size: 10px" th:text=${song.singerNames}></p>
								</div>
							</div>
						</div>
					
					</div>
					<div class="row justify-content-center" id="show-more">
						<button class="btn btn-primary" style="border-radius: 8px;margin-top: 10px">Xem thêm</button>
					</div>
					<div class="row justify-content-center" id="hidden" style="display: none;">
						<button class="btn btn-primary" style="border-radius: 8px;margin-top: 10px">Ẩn bớt</button>
					</div>
				</div>
				
			</div>
		</div>
		
		<form th:action="@{/myaccount/playlist/addsong}" method="POST">
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document" >
				    <div class="modal-content"  style="background-color: #21324a;">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle">Thêm playlist</h5>
					    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					        <span aria-hidden="true">&times;</span>
					    </button>
				      </div>
				      <div class="modal-body">
				        <label for="exampleFormControlSelect1">Chọn playlist</label>
				        <input type="hidden" name="songid" th:value="${playingSong.id}"/>
					    <select class="form-control" id="exampleFormControlSelect1"  name="playid">
					      <option th:each="playlist:${listPlaylists}" th:value="${playlist.id}" th:text="${playlist.name}"></option>
					    </select>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
				        <button type="submit" class="btn" style="background-color: #21b685;">Thêm vào</button>
				      </div>
				    </div>
			  </div>
			  
			</div>
		</form>
		
		<form th:action="@{/payment}" method="GET">
			<div class="modal fade" id="upgrade" tabindex="-1" role="dialog" aria-labelledby="upgradeTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document" >
				    <div class="modal-content"  style="background-color: #21324a;width: 600px;height: 380px">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 18px;">Nâng cấp tài khoản vip để trải nghiệm tính năng này</h5>
					    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
					        <span aria-hidden="true">&times;</span>
					    </button>
				      </div>
				      <div class="modal-body" style="background-image: url(https://stc-id.nixcdn.com/v11/images/bg-popup-pu_v2.png);width: 580px;height: 250px">
				        
				      </div>
				      
				      <div class="modal-footer justify-content-center">
				         <button type="submit" id="reportbtn" class="btn" style="background-color: #21b685;color: white;">Nâng cấp</button>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
				      </div>
				    </div>
			  </div>
			  
			</div>
		</form>
	 	<div th:insert="web/common/footer"></div>
		<script>
			$( "#show-more" ).click(function() {
				$("#bxh").css("height","auto");
				$("#hidden").show();
				$("#show-more").hide();
			});
			$( "#hidden" ).click(function() {
				$("#bxh").css("height","400px");
				$("#hidden").hide();
				$("#show-more").show();
			});
		
		</script>
		<script>
			$( "#more-lyrics" ).click(function() {
				$("#lyrics").css("height","auto");
				$("#hidden-lyrics").show();
				$("#more-lyrics").hide();
			});
			$( "#hidden-lyrics" ).click(function() {
				$("#lyrics").css("height","300px");
				$("#hidden-lyrics").hide();
				$("#more-lyrics").show();
			});
		
		</script>
		<script>
			var aud = document.getElementById("player");
			aud.onended = function() {
			  var ok=document.getElementsByClassName("song");
			  console.log(ok);
			};
		</script>
	</body>
</html>