<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thêm thể loại</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/themify-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/selectFX/css/cs-skin-elastic.css}">


    <link rel="stylesheet" th:href="@{/vendors/chosen/chosen.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


</head>

<body>


    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default" th:insert="admin/common/menu">  
        </nav>
    </aside><!-- /#left-panel -->


    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header" th:insert="admin/common/topbar">
        </header><!-- /header -->
        <!-- Header-->


        <div class="content mt-3">
            <div class="animated fadeIn">

                <div class="row">

                    <div class="col-xs-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Cập nhật thể loại</strong>
                            </div>
                            <form class="card-body" th:object="${category}" th:action="@{/admin/category/add}" method="POST"  >
                            	<input type="hidden" th:field="*{id}"/>
                                <div class="form-group">
                                    <label class=" form-control-label">Tên thể loại</label>
                                    <div class="input-group">
                                        <input class="form-control" th:field="*{name}" required/>
                                    </div>
                                </div>
                     			<div class="form-group">
	                                <label class=" form-control-label">Chọn khu vực</label>
	                                <select data-placeholder="Chọn khu vực..." class="standardSelect" tabindex="1" th:field="*{region.id}">
	                          
	                                    <th:block th:each="region: ${listRegions}">
	                                    	<option th:value="${region.id}" th:text="${region.name}" ></option>
	                                    </th:block>
	                                </select>
                                </div>
	                             <div class="form-group">
	                             	<button type="submit" class="btn btn-primary">Lưu</button>
	                             </div>
                            </form>
                        </div>
                    </div>
                </div>
                   
                
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->

    </div><!-- /#right-panel -->

    <!-- Right Panel -->


<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/vendors/chosen/chosen.jquery.min.js}"></script>

<script>
	    jQuery(document).ready(function() {
	        jQuery(".standardSelect").chosen({
	            disable_search_threshold: 10,
	            no_results_text: "Oops, nothing found!",
	            width: "100%"
	        });
	    });
	</script>

	
</body>

</html>
